<div class="container">
	<div class="row">
		<div class="col-md-3" *ngFor="let people of peoples">
			<div class="card wrapper-card mb-3">
				<img
					src="https://images.unsplash.com/photo-1546872006-42c78c0ccb29?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YWN0b3J8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
					class="card-img-top people-img" alt="img-people">
				<div class="card-body">
					<h5 class="card-title">{{people['name']}}</h5>
					<p class="card-text">Birth Year{{people['birth_year']}}</p>
					<p class="card-text">Eye Color {{people['eye_color']}}</p>
					<button class="btn btn-primary" (click)="redirectToDetail(people['url'])">See More</button>
				</div>
			</div>
		</div>
	</div>
</div>