<div class="container">
	<div class="row">
		<div class="col-md-3" *ngFor="let people of peoples">
			<div class="card wrapper-card mb-3">
				<img
					src="https://i.ytimg.com/vi/yYNSSNJ0z_U/movieposter.jpg"
					class="card-img-top people-img" alt="img-people">
				<div class="card-body">
					<h5 class="card-title">{{people['name']}}</h5>
					<p class="card-text">Birth Year{{people['birth_year']}}</p>
					<p class="card-text">Eye Color {{people['eye_color']}}</p>
					<button class="btn btn-primary" (click)="redirectToDetail(people['url'])">See More</button>
				</div>
			</div>
		</div>
	</div>
</div>